.redcircle{
  display: inline-block;
  height: 18px;
  width: 18px;
  position: absolute;
  bottom: 5px;
  z-index: 2;
  cursor: pointer;
}
.ant-row{
  margin: 0;
  .ant-btn-primary{
    float: right;
    margin-top: 10px;
  }
}