.redcircle{
  display: inline-block;
  height: 18px;
  width: 18px;
  position: absolute;
  bottom: 5px;
  z-index: 2;
  cursor: pointer;
}
.ant-row{
  margin: 0;
  .ant-btn-primary{
    float: right;
    margin-top: 10px;
  }
}
.ant-btn-primary{
  float: right;
}
.ant-btn-right{
  height: 32px;
  a{
    float: right;
  }
}
.ant-btn.editable-cell-value-wrap{
  width: 100%;
  white-space: normal !important;
  padding: 0 !important;
  height: auto;
  min-height: 32px;
  text-align: left;
}
.ant-checkbox-group-item{
  display: block;
  margin-bottom: 20px;
}
table tr td{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}